body {
  background-image: url("/images/pic1.jpg");
  background-position:50%;
}

#stagePageHeading {
  height: 30vh;
}
#stagePageHeading h1 {
  font-size: 40px;
  margin-top: 50px;
  color:brown
}
#stagePageHeading p {
  color: #BBB9B9;
  font-size: 20px;
}

#stagePagebutton {
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: end;
}
#stagePagebutton button {
  width: 30%;
  height: 35%;
  font-size: 40px;
  margin-bottom: 180px;
  border-radius: 50px;
  background-color:lightgreen;
  color: black;
  border: none;
}
